@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    text-decoration: none;
}
.max-width{
    max-width: 1800px;
    padding: 0 10px;
    margin: auto;
}
.navbar{
    position: fixed;
    padding: 15px 0;
    width: 100%;
    background-color: maroon;
    font-family: 'Ubuntu', sans-serif;
    z-index: 1000;
    top: 0;
    left: 0;
}
.navbar .menu li a{
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    margin-left: 25px;
}
.navbar .logo a{
    color: white;
    font-size: 35px;
    font-weight: 600;
}
.menu li{
    list-style: none;
    display: inline-block;
}
.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* middle section */

.home{
    display: flex;
    background: url(img/pngtree-website-technology-line-dark-background-image_2344719.jpg);
    height: 100vh;
    color: moccasin;
    font-family: 'Ubuntu', sans-serif;
}
.home .max-width{
    margin: auto 0 auto 40px;
}
.name {
    margin: 10px 0;
}
.myprogram {
    padding: 100px 20px; /* Ensure there is enough space below the fixed navbar */
    max-width: 600px;
    margin: 0 auto;
}